<div class="img-upload">
  <h3> POST AN IMAGE </h3>
  <form method="POST" action="">
      <label>Title: </label><input type="text" name="name" value=""> <br><br>
      <label>URL: </label><input type="text" name="url" value=""> <br><br>
      <label>Tags: </label><input type="text" name="tags" value="" placeholder="Separate each tag by space"> <br><br>
      <input type="submit" value="swish!" class="filter-btn">
      <br><br>
  </form>
</div>

<script>
  const inputs = document.querySelectorAll('input[type="text"]');
  const submit = document.querySelector(".filter-btn");
  const banner = document.querySelector("div.banner")


  submit.addEventListener('click', function(c){
    for (const i of inputs){
        if (i.value===""){
            //Client-side check if fields are complete
            c.preventDefault();
        	  console.log("Information incomplete");
            const errMsg = document.createElement("h3.errMsg");
            errMsg.textContent = "Please fill in all boxes";
            banner.append(errMsg);
            break;
        }
    }
  });
</script>
