<form method="POST" action="">
    Image URL: <input type="text" name="url" value=""> <br>
    Name: <input type="text" name="name" value=""> <br>
    Tags: <input type="text" name="tags" value="" placeholder="Separate each tag by space"> <br>
    <input type="submit" value="Upload">
    <br><br>
</form>
