<div class="img-upload">
  <h3> POST AN IMAGE </h3>
  <form method="POST" action="">
      <label>Title: </label><input type="text" name="name" value=""> <br><br>
      <label>URL: </label><input type="text" name="url" value=""> <br><br>
      <label>Tags: </label><input type="text" name="tags" value="" placeholder="Separate each tag by space"> <br><br>
      <input type="submit" value="swish!" class="filter-btn">
      <br><br>
  </form>
</div>
