<form method="POST" action="">
    Image URL: <input type="text" name="what" value=""> <br>
    Name: <input type="text" name="what" value=""> <br>
    Tags: <input type="text" name="where" value="" placeholder="Separate each tag by space"> <br>
    <input type="submit" value="Upload">
    <br><br>
</form>
