<!--Main layout template-->
<!DOCTYPE html>
<head>
	<link href="./css/base.css" rel="stylesheet">
<title>
	caption-o-cracy
</title>
</head>
<h2>
  Caption-O-Cracy
</h2>
<h4>
  <a href="/">Home</a>
  <br>
  <a href="/addImg">Add an Image</a>
  <br>
  <a href="/profile">My Profile</a>
  <br>
</h4>
<body>
	{{{ body }}}
</body>
</html>
