<div class="login">
  <!-- Code for FB login Passport
  <h3>SIGN IN</h3>
  <a href="/fbauth" class="fb-login-btn">Login with Facebook</a>
  <br>
  <br>
  -->
  <!-- Code for Github login Passport -->
  <h3>SIGN IN</h3>
  <a href="/githubauth" class="github-login-btn">Login with Github</a>
  <br>
  <br>

  <!-- Code for normal passport
  <h3>SIGN IN</h3>
  <form method="POST" action="">
    <label>Username</label> <input type="text" name="username" value=""> <br><br>
    <label>Password</label> <input type="text" name="password" value=""> <br><br>
    <input type="submit" value="get in!" class="login-btn">
  <br><br>
  -->
</form>
</div>
