<div class="login">
  <!-- Code for FB login Passport
  <h3>SIGN IN</h3>
  <a href="/fbauth" class="fb-login-btn">Login with Facebook</a>
  <br>
  <br>
  -->
  <h3>GET IN</h3>
  <a href="/githubauth" class="github-login-btn">Create an account with Github</a>
  <br><br>
</div>
