<div class="register">
  <!-- Code for FB login Passport
  <h3>SIGN IN</h3>
  <a href="/fbauth" class="fb-login-btn">Login with Facebook</a>
  <br>
  <br>
  -->
  <h3>SIGN IN</h3>
  <form method="POST" action="">
    <label>Username</label> <input type="text" name="username" value=""> <br><br>
    <label>Password</label> <input type="text" name="password" value=""> <br><br>
    <input type="submit" value="initiate" class="register-btn">
    <br><br>
  </form>
</div>
